<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style3.css">
    <title>flight project - contact</title>
    <link rel="icon" href="css/img/tour-icon.png">
  
</head>
<body>
  <div class="pro">
    <h1>Do You Have Problem ?</h1>
    </div>
  <div class="icon">
    <img src="css/img/tour-icon.png" alt="header">
   
    <div class="contact-container">
      <h1>Contact Me</h1>
      <p>You can reach me at:</p>
      <p><strong>Phone:</strong> <a href="tel:<%= phoneNumber %>"><i class="fas fa-phone"></i> <%= phoneNumber %></a></p>
      <h2>Follow Me</h2>
      <ul class="social-links">
        <li><a href="<%= socialMedia.facebook %>" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a></li>
        <li><a href="<%= socialMedia.twitter %>" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></li>
        <li><a href="<%= socialMedia.instagram %>" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
      </ul>
    </div>22
    <div class="conttanir">
        <video autoplay loop muted playsinline class="background-clip">
          <source src="css/img/7031954-uhd_3840_2160_24fps.mp4" type="video/mp4">
          </div>
          
          <header>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/flightsS">Flights</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/login">Login</a></li>
            </ul>
          </header>
</body>
</html>